/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
}

@font-face {
    font-family: 'Parisienne-Regular';
    src: local('Parisienne-Regular'), url(./fonts/Parisienne-Regular.ttf) format('ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}